.boxAuthor {
  display: flex;
  align-items: start;
  gap: 16px; /* Espacio entre la imagen y el texto */
  padding: 16px;
  background-color: #e9e9e9;
  border-radius: 8px;
  margin-left: 0; /* Alineado a la izquierda */
  transition: all 0.3s ease; /* Transición suave */
  max-width: 1200px;
}

.boxAuthor img {
  border-radius: 50%;
  min-width: 100px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.authorInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.authorInfo h6 {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.authorInfo p {
  margin: 4px 0 0 0;
  color: #666;
  font-size: 0.9rem;
  line-height: 1.5;
}

.socialIcons {
  display: flex;
  gap: 10px; /* Espacio entre los íconos */
  margin-top: 10px;
  align-items: center;
  justify-content: start;
}

/* Estilo para los iconos en formato SVG */
.socialIcons a img {
  transition: transform 0.3s;
  cursor: pointer;
  width: 24px;
  min-width: 24px;
  height: 24px;
}

.socialIcons a img:hover {
  transform: scale(1.1);
}

/* Responsive para dispositivos móviles */
@media (max-width: 768px) {
  .boxAuthor {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .socialIcons {
    justify-content: center;
  }
}
