html,
body {
  margin: 0 !important;
  padding: 0;
}

.container-fluid {
  margin: 0;
  padding-bottom: 0;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.header {
  background-color: rgb(158, 158, 158) !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.principal {
  margin-top: 30px;
  margin-bottom: 50px;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.separador {
  margin-top: 25px;
  margin-bottom: 25px;
}

.espacio-izq {
  margin-left: 20px;
}

.aligncenter,
.wp-block-image {
  text-align: center;
}

.alignleft {
  text-align: left;
  float: left;
  clear: left;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.italic {
  font-style: italic;
  line-height: 1.7;
}

.underline {
  text-decoration: underline;
  color: black;
  font-weight: bold;
}

/* FOOTER */
.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer-elliotfern {
  padding-top: 55px;
  padding-bottom: 55px;
  color: white !important;
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 1200px;
  font-size: 1.275em;
}

.menu-separacio {
  flex: 1 0 0%;
  margin-left: 10px;
  text-align: center;
}

.footer-elliotfern a:link,
.footer-elliotfern a:visited,
.footer-elliotfern a:hover {
  color: white !important;
  text-decoration: underline;
}

.footer-elliotfern-petit {
  padding-top: 10px;
  padding-bottom: 55px;
  color: white !important;
  text-align: center;
  margin: auto;
  max-width: 1200px;
  font-size: 0.8em;
}

.text-footer {
  padding-right: 20px !important;
  padding-left: 20px !important;
  margin-bottom: 15px;
}

.boxAuthor {
  max-width: 700px !important;
  margin-left: 0px !important;
}

.formBox {
  max-width: 700px;
  background-color: rgb(192, 192, 192);
  border: 1px solid rgb(74, 74, 74);
  border-radius: 20px;
  padding: 20px;
}

.bookPhoto {
  max-height: 250px !important;
  height: 250px !important;
}

.icon-comments {
  margin-bottom: 25px;
}
